<!DOCTYPE html>
<html>
  <head>
    <title>مدیریت فروشگاه</title>
    <link rel="stylesheet" type="text/css" href="static/styles/auth.css" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true" />

      <div class="signup">
        <form id="form-register" method="post" action="/v1/auth/register">
          <label for="chk" aria-hidden="true">Sign up</label>
          <input type="text" name="username" placeholder="User name" required="" />
          <input type="password" name="password" placeholder="Password" required="" />
          <input type="password" name="confirmPassword" placeholder="confirm Password" required="" />
          <button>Sign up</button>
        </form>
      </div>

      <div class="login">
        <form id="form-login" method="post" action="/v1/auth/login">
          <label for="chk" aria-hidden="true">Login</label>
          <input id="username-login" type="username" name="username" placeholder="Username" required="" />
          <input id="password-login" type="password" name="password" placeholder="Password" required="" />
          <button>Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
