<main>
  <h2 class="title-buy-box"></h2>
  <div class="buy-box-container"></div>
  <h2>آخرین تغییرات</h2>
  <div class="seach-container">
    <input type="search" placeholder="جستجو..." name="" class="search-input" />
    <select id="seller-select-box" name="seller">
      <option value="none" selected>انتخاب فروشنده</option>
    </select>
    <button id="btn-referesh" class="btn success">بروزرسانی</button>
  </div>
  <div class="container-products">
    <div class="product-table">
      <table>
        <thead>
          <tr>
            <th>عنوان محصول</th>
            <th>فروشنده</th>
            <th>قیمت</th>
            <th>ساعت</th>
            <th>تاریخ</th>
            <th>وضعیت</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</main>
