<main>
  <h2>فروش محصول</h2>
  <input type="search" placeholder="جستجو..." name="" />
  <div class="container-products">
    <div class="product-table">
      <table>
        <thead>
          <tr>
            <th>تصویر محصول</th>
            <th>عنوان محصول</th>
            <th>قیمت فروش</th>
            <th>سود خالص</th>
            <th>موجودی</th>
            <th>فروش رفته</th>
            <th>تعداد</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="tbody-product"></tbody>
      </table>
    </div>
  </div>
  <div class="pagination-container"></div>
</main>
