<!DOCTYPE html>

<html lang="fa" class="light">
  <!-- BEGIN: Head -->
  <head>
    <meta charset="utf-8" />
    <link href="/dist/images/logo.svg" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%-pageInfo?.pathTitle %></title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="/dist/css/style.css" />
    <link rel="stylesheet" href="/dist/css/app.css" />
    <!-- END: CSS Assets-->
  </head>
  <!-- END: Head -->
  <body class="main">
    <!-- BEGIN: Mobile Menu -->
    <%-include("./partials/_mobile-menu.ejs")%>
    <!-- END: Mobile Menu -->

    <div class="flex">
      <!-- BEGIN: Side Menu -->
      <%-include("./partials/_side-menu.ejs")%>
      <!-- END: Side Menu -->

      <!-- BEGIN: Content -->
      <%-body%>
      <!-- END: Content -->
    </div>
    <!-- BEGIN: Dark Mode Switcher-->

    <!-- <div
      data-url="side-menu-dark-crud-data-list.html"
      class="dark-mode-switcher cursor-pointer shadow-md fixed bottom-0 left-0 box dark:bg-dark-2 border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 ml-10"
    >
      <div class="ml-4 text-gray-700 dark:text-gray-300">حالت تیره</div>
      <div class="dark-mode-switcher__toggle border"></div>
    </div> -->

    <script src="/dist/js/app.js"></script>
    <script src="/dist/vendor/SweetAlert2/sweetalert2.js"></script>
    <script src="/utils/funcs.js"></script>
    <script src="/utils/chart.js"></script>
  </body>
</html>
