<aside>
  <div class="logo"><img src="static/img/Digikala-logo.png" alt="" /></div>

  <div class="profile">
    <img src="static/img/profile.jpg" alt="" />
    <h3>مصطفی معماری</h3>
    <h5>برنامه نویس جاوااسکریپت</h5>
  </div>

  <ul class="Accordion">
    <li class="Accordion-item active">
      <label for="checkboxes-menu ">
        <a href="/index">
          <div>
            <i class="fa-solid fa-house fa-lg"></i>
            <span>صفحه اصلی</span>
          </div></a
        >
      </label>
    </li>

    <li class="Accordion-item">
      <label for="checkboxes-menu1">
        <div>
          <i class="fa-solid fa-basket-shopping fa-xl"></i>
          <span>محصولات</span>
        </div>
        <i class="fa-solid fa-chevron-down"></i>
      </label>
      <input id="checkboxes-menu1" type="checkbox" name="menu" />
      <ul class="Accordion-subElements">
        <li class="Accordion-subElement"><a href="/products">مدیریت محصولات فروشگاه</a></li>
        <li class="Accordion-subElement"><a href="/product-robot">مدیریت محصولات ربات</a></li>
        <li class="Accordion-subElement"><a href="/buy-product">خرید کالا</a></li>
        <li class="Accordion-subElement"><a href="/sell-product">فروش کالا</a></li>
      </ul>
    </li>

    <li class="Accordion-item">
      <label for="checkboxes-menu ">
        <a href="/v1/auth/logout">
          <div>
            <i class="fa-solid fa-house fa-lg"></i>
            <span>خروج</span>
          </div></a
        >
      </label>
    </li>
  </ul>
</aside>

<!---------------- AlertBox -------------------->
<div class="alert" role="alert"></div>
